* {
  padding: 0;
  margin: 0;
}
.Hashtags {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}
li {
  border: 2px solid coral;
  padding: 5px;
  border-radius: 5px;
  background-color: red;
}

.button {
  font-weight: bold;
}

.Question-Card {
  border-color: green;
  border-width: 15px;
  border-style: solid;
}

nav {
  display: flex;
  position: fixed;
  bottom: 0;
  height: 80px;
  width: 100%;
  background-color: red;
  align-items: center;
  justify-content: space-around;
}
.Icons {
  background-color: green;
  padding: 5px;
  border-radius: 30px;
}
