* {
  padding: 0;
  margin: 0;
}
.Hashtags {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}
li {
  border: 2px solid coral;
  padding: 5px;
  border-radius: 5px;
  background-color: blue;
}

nav {
  display: flex;
  position: fixed;
  bottom: 0;
  height: 80px;
  width: 100%;
  background-color: aqua;
  align-items: center;
  justify-content: space-around;
}
.icons {
  background-color: blueviolet;
  padding: 5px;
  border-radius: 50px;
}
