* {
  margin: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  border: 2px solid red;
  border-width: 5px;
  font-size: 50px;
  padding: 15px;
  background-color: green;
  margin: 5px;
  color: aliceblue;
  border-radius: 5px;
}

.QuestionCard {
  text-align: center;
  margin: 10px;
  border-color: green;
  border-width: 5px;
  border-style: solid;
  padding: 1em;
  align-items: center;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.QuestionCard__button {
  position: center;
  font-weight: bold;
}

.QuestionCard p {
  text-align: center;
  font-size: 120%;
}

.QuestionCard__HashtagList {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 10px;
}

.QuestionCard__HashtagList li {
  border: 2px solid green;
  padding: 5px;
  border-radius: 5px;
  background-color: red;
  color: aliceblue;
}

.navbar {
  display: flex;
  position: fixed;
  bottom: 0;
  height: 80px;
  width: 100%;
  background-color: red;
  align-items: center;
  justify-content: space-around;
}
.navbar a {
  background-color: green;
  padding: 5px;
  border-radius: 30px;
}

.navbar .navbar__home {
  background-color: white;
}
